<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcpure.foreign.trade.order.dao.mapper.OrderMapper">
    <sql id="BASE_COLUMN">
		create_time, delete_flag,modify_time,
		code,group_code,group_name,name,customer_code,customer_name,
		total_amount,total_num,total_init_dis_num,total_dis_num,status,remark
	</sql>

    <select id="queryPage" parameterType="com.zcpure.foreign.trade.command.order.OrderQueryCommand"
            resultType="com.zcpure.foreign.trade.dto.order.OrderDTO">
        select
        <include refid="BASE_COLUMN"/>
        from ft_order
        <where>
            group_code = #{groupCode} and delete_flag = 0
            <if test="code != null and code != ''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="customerCode != null and customerCode != ''">
                and customer_code like concat('%',#{customerCode},'%')
            </if>
            <if test="customerName != null and customerName != ''">
                and customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>