<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcpure.foreign.trade.order.dao.mapper.OrderDetailMapper">
    <sql id="BASE_COLUMN">
		create_time, delete_flag,modify_time,
		orderCode,group_code,group_name,goods_code,goods_name,
		brand_id,brand_name,model_id,model_name,category_id,category_name,category_link_name,
		cost_price,sale_price,price,main_img,other_img,desc_info,
		num,init_dis_num,dis_num
	</sql>

    <select id="queryPage" parameterType="com.zcpure.foreign.trade.command.order.OrderDetailQueryCommand"
            resultType="com.zcpure.foreign.trade.dto.order.OrderDetailDTO">
        select
        <include refid="BASE_COLUMN"/>
        from ft_order_detail
        <where>
            group_code = #{groupCode} and delete_flag = 0
            <if test="orderCode != null and orderCode != ''">
                and order_code like concat('%',#{orderCode},'%')
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                and goods_code like concat('%',#{goodsCode},'%')
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name like concat('%',#{goodsName},'%')
            </if>
            <if test="brandName != null and brandName != ''">
                and brand_name like concat('%',#{brandName},'%')
            </if>
            <if test="modelName != null and modelName != ''">
                and model_name like concat('%',#{modelName},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>