<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcpure.foreign.trade.user.dao.mapper.UserMapper">
    <sql id="BASE_COLUMN">
		create_time, delete_flag,modify_time,
		name, phone, email, address, group_code, group_name, user_level
	</sql>

    <sql id="BASE_QUERY_WHERE">
        <where>
            group_code = #{groupCode}
            and delete_flag = 0
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%',#{email},'%')
            </if>
            <if test="ids != null">
                and id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="levels != null">
                and user_level in
                <foreach collection="levels" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
	</sql>

    <select id="queryPage" parameterType="com.zcpure.foreign.trade.command.user.UserQueryCommand"
            resultType="com.zcpure.foreign.trade.dto.user.UserDTO">
        select
        id,
        <include refid="BASE_COLUMN"/>
        from ft_user
        <include refid="BASE_QUERY_WHERE"/>
        order by id desc
    </select>


    <update id="delete" parameterType="com.zcpure.foreign.trade.command.user.UserQueryCommand">
        update ft_user set delete_flag = 1
        <include refid="BASE_QUERY_WHERE"/>
    </update>
</mapper>